body{
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  background: #18363E;
}
.screen1{
  height: 1140px;
  width: 1440px;
}
.screen2{
  height: 1062px;
  width: 1440px;
}
.screen3{
  height: 940px;
  width: 1440px;
}
.screen4{
  height: 1200px;
  width: 1440px;
}
.screen5{
  height: 325px;
  width: 1440px;
}
h1{
  font-family: "Anticva-Regular";
  font-size: 75px;
  color: #F5F0EA;
  text-align: center;
  padding-top: 30px;
}
.container{
  display: flex;
  flex-direction: row;
}
.mainlogo{
  position: relative;
margin-top: 40px;
margin-left: 466px;
width: 472px;
height: 88px;
}
 .container1 {
 margin-top: 50px;
 margin-left: 46px;
 width: 441px;
 height:767px;
 position: relative;
 background:#FFFFFF;
 object-fit: contain;
 padding-top:20px;
 overflow: hidden;
 border-radius: 8%;
 }
 .cont{
   top: 4px;
   left: -1.5px;
   width: 441px;
   height: 767px;
   display: block;
   position: absolute;

 }
 .row{
   width: 1085px;
   height: 415px;
   display: block;
   position: absolute;
   animation: row 6s linear infinite;
   animation-direction: alternate;
 }
 .roow{
margin-top:430px;
   width: 1085px;
   height: 415px;
   display: block;
   position: absolute;
   animation: roow 6s linear infinite;
   animation-direction: alternate;
 }
 *{
   box-sizing: border-box;
 }
 @keyframes row {
   0% {right: -625px;}
  100% {right: calc(100% - 441px);}
}
@keyframes roow {
  0% {left:  -625px;}
 100% {left:calc(100% - 441px);}
}
.container3 {
 margin-top: 50px;
 margin-left:50px;
width: 441px;
height:767px;
position: relative;
 background:#FFFFFF;
 object-fit: contain;
padding-top:20px;
overflow: hidden;
border-radius: 8%;
}
.cont1{
 top: 4px;
left: -1.5px;
 width: 441px;
 height: 767px;
 display: block;
 position: absolute;

}
.row1{
 width: 1085px;
 height: 415px;
 display: block;
 position: absolute;
 animation: row1 6s linear infinite;
  animation-direction: alternate;
}
.roow1{
margin-top:430px;
 width: 1085px;
 height: 415px;
 display: block;
 position: absolute;
 animation: roow1 6s linear infinite;
  animation-direction: alternate;
}
*{
 box-sizing: border-box;
}
@keyframes row1 {
 0% {right: -625px;}
100% {right: calc(100% - 441px);}
}
@keyframes roow1 {
0% {left:  -625px;}
100% {left:calc(100% - 441px);}
}
.container2 {
margin-top: 170px;
margin-left:50px;
width: 357px;
height:502px;
position: relative;
background:#FFFFFF;
object-fit: contain;
padding-left: 46px;
padding-top:90px;
overflow: hidden;
border-radius: 10%;
}
.row2{
width: 2512px;
height: 312px;
display: block;
position: absolute;
animation: row2 6s linear infinite;
animation-direction: alternate;
}
*{
box-sizing: border-box;
}
@keyframes row2 {
0% {right: -1085px;}
100% {right: 400px;}
}
.stick1{
position: absolute;
width: 865.11px;
height: 407.3px;
left: -69.06px;
top: 510px;
animation: stick1 3s linear  infinite;
animation-direction: alternate;
}
@keyframes stick1 {
0% {left: -980px;}
100% {left: -20px;}
}
.stick2{
position: absolute;
width: 616px;
height: 859px;
left: 788px;
z-index: 3;
}
.text{
position: absolute;
left:1080px;
z-index: 0;
width: 40px;
height: 708px;
animation: text 2s linear infinite;
}
@keyframes text{
0% {top: 1140px;}
100% {top: 1290px;}
}
.c1 {
top: 50px;
width: 800px;
height:92px;
position: relative;
background:#FFFFFF;
overflow: hidden;
transform: rotate(5deg);
padding-top: -5px;
}
.c1:hover {
top: 50px;
width: 800px;
height:92px;
position: relative;
background:pink;
overflow: hidden;
transform: rotate(5deg);
padding-top: -5px;
}
.r1{
margin-top: 13px;
width: 2202px;
height:63px;
display: block;
position: absolute;
animation: r1 6s linear infinite;
animation-direction: alternate;
}
@keyframes r1 {
0% {left: -1554px;}
100% {left: calc(100% - 800px);}]
}
.c2 {
width: 800px;
height:92px;
position: relative;
overflow: hidden;
background:#FFFFFF;
transform: rotate(-5deg);
margin-top: 168px
}
.c2:hover {
width: 800px;
height:92px;
overflow: hidden;
position: relative;
background:green;
transform: rotate(-5deg);
margin-top: 168px;
}
.r2{
margin-top: 13px;
width: 2232px;
height:65px;
display: block;
position: absolute;
animation: r2 6s linear infinite;
animation-direction: alternate;
}
@keyframes r2 {
0% {right: -1554px;}
100% {right: calc(100% - 800px);}]
}
.c3 {
top: 50px;
width: 800px;
height:92px;
position: relative;
background:#FFFFFF;
overflow: hidden;
transform: rotate(5deg);
padding-top: -5px;
margin-top: 70px;
}
.c3:hover {
top: 50px;
width: 800px;
height:92px;
position: relative;
background:orange;
overflow: hidden;
padding-top: -5px;
margin-top: 70px;
transform: rotate(5deg);
}
.r3{
margin-top: 13px;
width: 2480px;
height:78px;
display: block;
position: absolute;
animation: r3 6s linear infinite;
animation-direction: alternate;
}
@keyframes r3 {
0% {left: -1554px;}
100% {left: calc(100% - 800px);}]
}
.c4 {
width: 800px;
height: 92px;
position: relative;
background:#FFFFFF;
overflow: hidden;
transform: rotate(-5deg);
margin-top: 170px;
}
.c4:hover {
width: 800px;
height:92px;
position: relative;
background:blue;
overflow: hidden;
transform: rotate(-5deg);
margin-top: 170px;
}
.r4{
margin-top: 13px;
width: 2354px;
height:78px;
display: block;
position: absolute;
animation: r4 6s linear infinite;
animation-direction: alternate;
}
@keyframes r4 {
0% {right: -1554px;}
100% {right: calc(100% - 800px);}
}
.heart1{
position: absolute;
width: 108px;
height: 100px;
left: 70px;
top:1295px;
animation: heart1 1s linear infinite;
animation-direction: alternate;
}
@keyframes heart1 {
0% {scale:0.5;}
100% {scale:1;}
}
.heart3{
position: absolute;
width: 108px;
height: 100px;
left: 787px;
top:2080px;
animation: heart3 1s linear infinite;
animation-direction: alternate;
}
@keyframes heart3 {
0% {scale:0.5;}
100% {scale:1;}
}
.heart2{
position: absolute;
width: 108px;
height: 100px;
left: 325px;
top:1723px;
transform: rotate(65deg);
animation: heart2 1s linear infinite;
animation-direction: alternate;
}
@keyframes heart2 {
0% {scale:0.5;}
100% {scale:1;}
}
.star1{
position: absolute;
width: 108px;
height: 100px;
left: 380px;
top:1295px;
animation: star1 6s linear infinite;
}
@keyframes star1 {
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}
.star2{
position: absolute;
width: 108px;
height: 100px;
left: 87px;
top:1700px;
animation: star2 1s linear infinite;
animation-direction: alternate;
}
@keyframes star2 {
0% {transform: rotate(15deg);}
100% {transform: rotate(-15deg);}
}
.star3{
position: absolute;
width: 108px;
height: 100px;
left: 1272px;
top:2076px;
animation: star3 1s linear infinite;
animation-direction: alternate;
}
@keyframes star3 {
0% {transform: rotate(15deg);}
100% {transform: rotate(-15deg);}
}
.moon1{
position: absolute;
width: 92px;
height: 80px;
left: 249px;
top:1510px;
animation: moon1 1s linear infinite;
animation-direction: alternate;
}
@keyframes moon1 {
0% {transform: rotate(30deg);}
100% {transform: rotate(-15deg);}
}
.moon2{
position: absolute;
width: 92px;
height: 80px;
left: 559px;
top:2000px;
animation: moon2 1s linear infinite;
animation-direction: alternate;
}
@keyframes moon2 {
0% {transform: rotate(30deg);}
100% {transform: rotate(-15deg);}
}
.daisy1{
position: absolute;
width: 108px;
height: 100px;
left: 476px;
top:1520px;
animation: daisy1 1s linear infinite;
animation-direction: alternate;
}
@keyframes daisy1 {
0% {scale:0.5;}
100% {scale:1;}
}
.daisy2{
position: absolute;
width: 108px;
height: 100px;
left: 350px;
top:2064px;
animation: daisy2 1s linear infinite;
animation-direction: alternate;
}
@keyframes daisy2 {
0% {scale:0.5;}
100% {scale:1;}
}
.sstar1{
position: absolute;
width: 80px;
height: 80px;
left: 660px;
top:1490px;
animation: sstar1 6s linear infinite;
}
@keyframes sstar1 {
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}
.sstar2{
position: absolute;
width: 80px;
height: 80px;
left: 93px;
top:2032px;
animation: sstar2 6s linear infinite;
}
@keyframes sstar2 {
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}
.sstar3{
position: absolute;
width: 80px;
height: 80px;
left: 1043px;
top:2050px;
animation: sstar3 6s linear infinite;
}
@keyframes sstar3 {
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}
.star4{
position: absolute;
width: 108px;
height: 100px;
left: 105px;
top: 2994px;
animation: star4 6s linear infinite;
}
@keyframes star4 {
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}
.moon3{
position: absolute;
width: 92px;
height: 80px;
left: 381px;
top: 2964px;
animation: moon3 1s linear infinite;
animation-direction: alternate;
}
@keyframes moon3 {
0% {transform: rotate(30deg);}
100% {transform: rotate(-15deg);}
}
.sstar4{
position: absolute;
width: 80px;
height: 80px;
left: 681px;
top: 2994px;
animation: sstar4 1s linear infinite;
animation-direction: alternate;
}
@keyframes sstar4 {
0% {scale:0.5;}
100% {scale:1;}
}
.daisy3{
position: absolute;
width: 108px;
height: 100px;
left: 950px;
top: 2940px;
animation: daisy3 6s linear infinite;
animation-direction: alternate;
}
@keyframes daisy3 {
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}
.heart4{
position: absolute;
width: 108px;
height: 100px;
left: 1225px;
top: 2980px;
animation: heart4 1s linear infinite;
animation-direction: alternate;
}
@keyframes heart4 {
0% {transform: rotate(65deg);}
100% {transform: rotate(-15deg);}
}
.container4 {
margin-left: 41px;
width: 1345px;
height:705px;
position: relative;
background:#FFFFFF;
border-radius: 5%;
}
.line {
top:2772px;
margin-left: 41px;
width: 1345px;
height:7px;
position: absolute;
}
.stick3 {
top: 2270px;
left: 717px;
width: 704px;
height: 223px;
position: absolute;
animation: stick3 2s linear infinite;
animation-direction: alternate;
}
@keyframes stick3 {
0% {transform: rotate(5deg);}
100% {transform: rotate(-5deg);}
}
.botle1 {
top: 2572px;
left: 1150px;
width: 145px;
height: 200px;
position: absolute;
animation: botle1 4s linear infinite;
}
.botle11 {
top: 2572px;
left: 1150px;
width: 145px;
height: 200px;
position: absolute;
}
@keyframes botle1 {
0% {opacity: 1;}
50% {opacity: 0;}
100% {opacity: 1;}
}
.botle2 {
top: 2572px;
left: 948px;
width: 125px;
height: 200px;
position: absolute;
animation: botle2 4s linear infinite;
}
.botle22 {
top: 2572px;
left: 948px;
width: 125px;
height: 200px;
position: absolute;
}
@keyframes botle2 {
0% {opacity: 1;}
50% {opacity: 0;}
100% {opacity: 1;}
}
.botle3 {
top: 2572px;
left: 706px;
width: 178px;
height: 200px;
position: absolute;
animation: botle3 4s linear infinite;
animation-delay: 1s;
}
.botle33 {
top: 2572px;
left: 706px;
width: 178px;
height: 200px;
position: absolute;
}
@keyframes botle3 {
0% {opacity: 1;}
50% {opacity: 0;}
100% {opacity: 1;}
}
.botle4 {
top: 2572px;
left: 520px;
width: 110px;
height: 200px;
position: absolute;
z-index: 1;
animation: botle4 4s linear  infinite;
}
.stars {
top: 2680px;
left: 520px;
width: 109px;
height: 94px;
z-index: 0;
position: absolute;
animation: stars 4s linear  infinite;
}
@keyframes botle4 {
0% {transform: translateY(0);}
50% { transform:translateY(-350px) translateX(10px);;}
90% {transform: rotate(-59deg)translateY(-150px)translateX(320px);}
}
@keyframes stars {
0% {transform: translateY(0);
}
50% { transform:translateY(-370px) translateX(5px);
}
90% {transform: rotate(-59deg)translateY(-450px)translateX(260px);
}
}
.botle5 {
top: 2349px;
left: 135px;
width: 323px;
height: 426px;
position: absolute;
animation: botle5 4s linear  infinite;
animation-delay: 1s;
}
.botle51 {
top: 2349px;
left: 135px;
width: 323px;
height: 426px;
position: absolute;
}
@keyframes botle5 {
0% {opacity: 1;}
50% {opacity: 1;}
90% {opacity: 0;}
92% {opacity: 1;}
}
.container5 {
width: 1440px;
height:1300px;
position: relative;
background:#FFFFFF;
overflow: hidden;
}
.stick4{
position: absolute;
width: 564px;
height: 178px;
left: 35px;
top: 3135px;
transform: rotate(-8deg);
}
.stick4:hover{
animation: stick4 4s linear  infinite;
}
.stick31{
position: absolute;
width: 564px;
height: 178px;
left: 35px;
top: 3135px;
transform: rotate(-8deg);
}
@keyframes stick4 {
0% {opacity: 1;}
50% {opacity: 0;}
100% {opacity: 0;}

}
.conveer{
width: 4133px;
height: 509px;
display: block;
position: absolute;
animation: conveer 10s linear infinite;
animation-direction:reverse;
margin-top: 400px;
animation-delay: 0.2s;
}
.line1 {
top:4045px;
width: 1440px;
height:7px;
position: absolute;
}
@keyframes conveer {
0% {right: -3800px;}
100% {right: calc(100% - 1100px);}
}
.etiketka1{
position: absolute;
width: 226px;
height: 169px;
left: 583px;
top: 3700px;
animation: etiketka1 1s linear infinite;
animation-direction: alternate;
animation-delay: 0.3s;
}
@keyframes etiketka1 {
0% {scale:1;}
50% {scale:2;}
100% {scale:2;}
}
.etiketka2{
position: absolute;
width: 343px;
height: 256px;
left: 1020px;
top: 3200px;
animation: etiketka2 3s linear infinite;
animation-direction: alternate;
}
@keyframes etiketka2 {
0% {opacity: 0;transform: rotate(30deg);}
50% {opacity: 1;}
100% {opacity: 1;transform: rotate(-30deg);}
}
.etiketka3{
position: absolute;
width: 343px;
height: 256px;
left: 1005px;
top: 4120px;
animation: etiketka3 3s linear infinite;
animation-direction: alternate;
}
@keyframes etiketka3 {
0% {opacity: 0;transform: rotate(30deg);}
50% {opacity: 1;}
100% {opacity: 1;transform: rotate(-30deg);}
}
.etiketka4{
position: absolute;
width: 343px;
height: 256px;
left: 80px;
top: 4120px;
animation: etiketka4 3s linear infinite;
animation-direction: alternate;
}
@keyframes etiketka4 {
0% {opacity: 0;transform: rotate(-30deg);}
50% {opacity: 1;}
100% {opacity: 1;transform: rotate(30deg);}
}
.logo{
position: absolute;
width: 343px;
height: 124px;
left: 46px;
top: 4548px;
}
.name{
position: absolute;
width: 340px;
height: 230px;
left: 1061px;
top: 4522px;
}
